/* header start */
.header-paragraph{
    color: rgba(255, 255, 255, 1);
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 14px;
}

#header-paragraph-bottom{
color: rgba(224, 224, 224, 1);
}

.header-button{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    border: 1px solid rgba(231, 111, 81, 1);
    border-radius: 4px;
}
/* header finish */
/* Feature section start */
.fe-bike-sec h1{
    font-family: Poppins;
    font-size: 48px;
    font-style: semibold;
    font-weight: 600;
    line-height: 72px;
    letter-spacing: 0px;
    color: rgba(0, 0, 0, 1);
    ;
  
    

}
.fe-bike-sec h6{
    font-family: Poppins;
font-size: 14px;
font-style: normal;
font-weight: 600;
line-height: 21px;
letter-spacing: 0px;
color: rgba(231, 111, 81, 1);
;
}
.grayscale{
    filter: grayscale(100%)
}




/* feature section end */









/* Latest section Start */
.card-title{
    font-family: Poppins;
font-size: 28px;
font-style: normal;
font-weight: 600;
line-height: 40px;
letter-spacing: 0em;
text-align: left;
color: rgba(24, 25, 31, 1);

}
.card-text{
    font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 32px;
letter-spacing: 0em;
text-align: left;
color:  rgba(108, 108, 108, 1);

}
.feature-button{
    background: rgba(231, 111, 81, 1);
    color: white;
    padding: 15px;
  border: 1px solid rgba(231, 111, 81, 1);
        

}





/* Lastest section End */

/* Clients Review Start */
.section-title{
    font-family: Poppins;
font-size: 48px;
font-style: normal;
font-weight: 600;
line-height: 72px;
letter-spacing: 0em;
text-align: left;

}
.fa-star.filled{
    color:#E77C40;
    }
    .fa-star.empty{
    color:rgba(108, 108, 108, 1);
    ;
    }
   .girl{
        clip-path: circle();
        margin-top: 50px;
        height: 149px;
        width: 149px;
       

    }
   .client-details{
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0.20000000298023224px;
    text-align: left;
    
   }
/* Clients Review End */

/* Question section start */
.accordion-header{
    font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: 26px;
letter-spacing: 0px;
text-align: left;

}
.accordion-body{
    color: rgba(126, 132, 140, 1);

}






/* Question section End */